<p>GET Request / Table with item data</p>

<!--<div ng-repeat="contentJson in x.content |limitTo:1">-->
    <!--<div ng-dropdown-multiselect="" ng-repeat="(key,data) in contentJson" options="{{key}}" selected-model="example1model">{{key}}</div>-->
<!--</div>-->


<multiselect ng-model="selectModel" options="c for c in contentKeys" data-multiple="true"></multiselect>


<!--<p>{{contentKeys}}</p>-->
<p>{{selectModel}}</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th ng-repeat="jsonContentKey in selectModel" >{{jsonContentKey}}</th>
            <!--<th>Name</th>-->
            <!--<th>Country</th>-->
            <!--<th>City</th>-->
            <!--<th>Category</th>-->
            <!--<th>Company</th>-->
            <!--<th>Email</th>-->
            <!--<th>phonePrimary</th>-->
            <!--<th>phoneSecondary</th>-->
            <!--<th>mobilePrimary</th>-->
            <!--<th>mobileSecondary</th>-->
            <!--<th>facebookPage</th>-->
            <!--<th>website</th>-->
            <!--<th>address</th>-->
            <!--<th>imagePath</th>-->
            <!--<th>description</th>-->
            <!--<th>speciality</th>-->
            <!--<th>menu</th>-->
            <!--<th>gallery</th>-->
            <!--<th>rating</th>-->
            <!--<th>reviews</th>-->
            <!--<th>likes</th>-->
            <!--<th>specialities</th>-->
            <!--<th>location</th>-->
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="a in x.content">
            <td ng-repeat="jsonContentKey in selectModel">{{a[jsonContentKey]}} </td>
            <!--<td>{{ a.name }}</td>-->
            <!--<td>{{ a.country }}</td>-->
            <!--<td>{{ a.city }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
            <!--<td>{{ a.category }}</td>-->
        </tr>

    </tbody>
</table>


<p>POST Request / Request to Demo Server</p>
<form ng-submit="sendPost()">
    <input ng-model="newName"/>
    <button type="submit">Send</button>
</form>

<p>{{hello}}</p>
